*{
  background-color: black;

}
body{
	background-color: black;
	color: white;
}
ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 85;
  margin: auto;
  padding: 35xp 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 200px;
  cursor: pointer;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position:relative;
  margin: 0 15px;
  text-decoration: none;
  color: floralwhite;
  text-transform: uppercase;
}

li a:hover:not(.active) {
  background-color: yellow;
}

.active {
  background-color: black;
}
div.gallery {
  margin: 5px;
  border: 1px solid yellow;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  color: white;
  padding: 15px;
  text-align: center;
}
.service{
	margin-top: 20px;
	margin-bottom: 30px;
}
*{
  background-color: black;

}

ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 85;
  margin: auto;
  padding: 35xp 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 200px;
  cursor: pointer;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position:relative;
  margin: 0 15px;
  text-decoration: none;
  color: floralwhite;
  text-transform: uppercase;
}

li a:hover:not(.active) {
  background-color: yellow;
}

.active {
  background-color: black;
}
div.gallery {
  margin: 5px;
  border: 1px solid yellow;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  color: white;
  padding: 15px;
  text-align: center;
}
input[type=text]:focus {
  width: 100%;
}
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: yellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: blanchedalmond;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.container {
  width: 100%;
  height: 100vh;
  padding: 0 8%;
}

.container h1 {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}
.container h1::after {
  content: '';
  background: #be7200;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr ));
  grid-gap: 30px;
}

.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: rgb(170, 102, 0);
}
.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
}
.service:hover {
  background: rgb(252, 196, 111);
  color: #fff;
  transform: scale(1.05);
}
.service i {
  color:  rgb(170, 102, 0);
}
